@model DemoApplication.MVC.Models.Student

<div class="modal fade" id="edit-student-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update student details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 m-2">
                        <form asp-action="Edit">
                            <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="FirstName" class="control-label font-weight-bold"></label>
                                <input asp-for="FirstName" class="form-control" required />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName" class="control-label font-weight-bold"></label>
                                <input asp-for="LastName" class="form-control" required />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label asp-for="Dob" class="control-label font-weight-bold"></label>
                                    <div class="input-group date" data-provide="datepicker">
                                        <input type="text" asp-for="Dob" class="form-control" required>
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2"><i class="fa fa-calendar pointer" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="modal">Update</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.date').datepicker({
            autoclose: true,
            endDate: '0d'
        });
    });
</script>


