@model DemoApplication.MVC.Models.Student
<div class="row">
    <div class="col-md-8 m-2">
        <div class="m-2 mb-5">
            <a asp-action="Index" asp-controller="Students" role="button"><i class="fas fa-long-arrow-alt-left"></i> Back</a>
        </div>
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="form-group row mb-5">
                <div class="col-sm-2">
                    <label asp-for="FirstName" class="control-label font-weight-bold"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="FirstName" class="form-control" required />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-5">
                <div class="col-sm-2">
                    <label asp-for="LastName" class="control-label font-weight-bold"></label>
                </div>
                <div class="col-sm-6">
                    <input asp-for="LastName" class="form-control" required />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-5">
                <div class="col-sm-2">
                    <label asp-for="Dob" class="control-label font-weight-bold"></label>
                </div>
                <div class="col-sm-6">
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" asp-for="Dob" class="form-control" required>
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2"><i class="fa fa-calendar pointer" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-5">
                <div class="col-sm-2">
                    <label asp-for="Active" class="control-label font-weight-bold"></label>
                </div>
                <div class="col-sm-6">
                    @*<input asp-for="Active" type="checkbox" class="default mr-2" />*@
                    <label class="switch">
                        <input type="checkbox" asp-for="Active" class="default">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <button type="submit" class="btn btn-lg btn-outline-info mr-2"><i class="far fa-save"></i> Update</button>
                <button type="reset" class="btn btn-lg btn-outline-info mr-2" asp-action="Index" asp-controller="Students"><i class="fas fa-times"></i> Cancel</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('.date').datepicker({
                autoclose: true,
                endDate: '0d'
            });
        });
    </script>
}



