.ui-widget-overlay {
    background: #000 !important;
    opacity: 0.5 !important;
}

.ui-widget-header {
    background: #00a1ff !important;
}

.config-button {
    border: 1px solid #969696 !important;
    width: 100px !important;
    height: 100px !important;
    border-radius: 10px !important;
    box-shadow: 1px 1px 5px #bdbdbd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .config-button:hover {
        color: #17a2b8 !important;
        border: 1px solid #17a2b8 !important;
        box-shadow: 2px 2px 5px #969696;
    }

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.pointer {
    cursor: pointer;
}


.box-glow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.75), 0 6px 20px 0 rgba(0, 0, 0, 0.75) !important;
}


.custom-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    /*white-space: nowrap;*/
}
