<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark w-100">
    <a class="navbar-brand" asp-action="Index" asp-controller="Home">
        <span class="d-block d-lg-none">Nandan Hegde</span>
        <img src="~/asset/logo.png" alt="Logo" height="40" />
    </a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mr-2">
                <a class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "nav-link active" : "nav-link")"
                   asp-action="Index" asp-controller="Home">
                    <i class="fa fa-home"></i>
                    Home
                </a>
            </li>
            <li class="nav-item mr-2">
                <a class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Students" ? "nav-link active" : "nav-link")"
                   asp-action="Index" asp-controller="Students">
                    <i class="fas fa-book"></i>
                    Students
                </a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link" href="#">
                    <i class="fa fa-home"></i>
                    Disabled
                </a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link" href="#">
                    <i class="fas fa-book"></i>
                    Disabled
                </a>
            </li>

        </ul>
    </div>
    <ul class="navbar-nav float-right">
        <li class="nav-item d-inline">
            <a class="nav-link pointer" title="Login" role="button" onclick="SignInDialog()">
                <i class="fas fa-user"></i>

            </a>
        </li>
        <li class="nav-item d-inline">
            <a class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Configurations" ? "nav-link active" : "nav-link")"
               asp-action="Index"
               asp-controller="Configurations" title="Configuration">
                <i class="fa fa-cog">
                </i>
            </a>
        </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-ellipsis-v"></i>
    </button>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



<script>
        function SignInDialog(){
            CommonDialog('sm', 'User Login', "@Url.Action("Login","Account")");
        }
</script>


